.jumbotron {
    background-image: url("https://www.wallpapertip.com/wmimgs/159-1595817_aesthetic-landscape-hd-wallpapers-1080p-4k-36494-background.jpg");
    color: white;
    text-align: center;
}

#figure-caption {
    text-size-adjust: 50px;
}